.items-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.items-list h1 {
    color: #fff;
    margin-bottom: 15px;
}